@import "../index.scss";

.article-cont-mb {
  padding: 10px;
  margin-bottom: 10px;

}

.article-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .article-title {
    max-width: 80%
  }
}

.action-btn {
  margin-bottom: 5px;
}

.dialog-cont {
  max-width: 1200px !important;
  padding: 20px;
}

.query-toolbar {
  @extend %horizontal-flex;

  .control {
    flex-grow: 1;
    margin: 10px;
  }
}

.article-details {
  display: flex;
  flex-direction: column;
}

.no-data {
  text-align: center;
  margin: 30px;
  font-size: 40px;
  color: darkgray;
}