.actions {
  margin-bottom: 20px;
}

.board {
  background-color: #e4e4e4;
  border-radius: 15px;
  padding: 10px 20px 20px 15px;
  display: flex;
  flex-direction: column;

  .name {
    margin-bottom: 10px;
  }

  .cards {
    min-height: 200px;
    background-color: #d0d0d0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;

    .card {
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 5px;
    }
  }

  .actions{
    margin-bottom: 0px;
  }
}