.actions {
  margin-bottom: 10px;
}

.add-feed-cont {
  padding: 10px 20px;
  margin: 10px 0;

  .add-text {
    display: flex;
    align-items: center;
  }
}

.feed-details {
  display: block !important;
  background-color: #f3f3f3ab;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;

  .title {
    font-weight: bold;
  }
  .url {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .actions {
    height: 50px;
    background-color: white;
    width: 100%;
    margin-top: 10px;
  }

  .action-btn {
    margin-bottom: 5px;
  }
}

.no-feeds {
  text-align: center;
  margin: 30px;
  font-size: 40px;
  color: darkgray;
}
