.julius {
  display: flex;
  width: 100vw;
  height: 100vh;

  .sidenav {
    width: 240px !important;
    background-color: #673ab7;
    color: white;

    .topbar {
      width: 240px !important;
      background-color: #ee5350;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      color: white;
    }

    .active {
      border-right: 5px solid white;

    }
  }

  .navbar {
    width: calc(100% - 240px) !important;


  }



  .white {
    color: white !important;
  }

  .content {
    flex-grow: 1;
    margin-top: 84px;
    margin-left: 260px;
    margin-right: 20px;
  }
}