.actions {
  margin-bottom: 10px;
}

.add-feed-cont {
  padding:10px 20px;
  margin: 10px 0;
  
  .add-text{
    display: flex;
    align-items: center;
  }
}
.feed-details{
  display: block !important;
}