$navbarHeight: 64px;

.navbar {
  height: $navbarHeight;
}

.content {
  margin-top: $navbarHeight;
  .sidenav {
    height: calc(100vh - #{$navbarHeight});

    .link {
      width: 100%;
      display: block;
      text-decoration: none;
      height: 40px;
      display: flex;
      align-items: center;
    }
  }

  .display-area {
    padding: 20px;
    box-sizing: border-box;
  }
}
