$navbarHeight: 64px;

.navbar {
  height: $navbarHeight;
  display: flex;
  align-items: center;
  flex-direction: row !important;
  padding: 10px;

  .brand {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
  }
}

.content {
  margin-top: $navbarHeight;
  .sidenav {
    height: calc(100vh - #{$navbarHeight});

    .link {
      width: 100%;
      display: block;
      text-decoration: none;
      height: 40px;
      display: flex;
      align-items: center;
    }
  }

  .display-area {
    padding: 20px;
    box-sizing: border-box;
  }
}
