$navbarHeight: 64px;

.navbar {
  height: $navbarHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
  padding: 10px;

  .brand {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
  }
}

.content {
  margin-top: $navbarHeight;
  .sidenav {
    height: calc(100vh - #{$navbarHeight});

    .link {
      width: 100%;
      border-left: 3px solid white;
      padding-left: 5px;
      box-sizing: border-box;
      display: block;
      text-decoration: none;
      height: 50px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: lightgray;
        border-left: 3px solid lightgray;
      }

      &.active {
        border-left: 3px solid black;
      }
    }
  }

  .display-area {
    padding: 20px;
    box-sizing: border-box;
  }
}
