.snackbar-ERROR {
  div {
    background-color: #f44336;
  }
}

.snackbar-SUCCESS {
  div {
    background-color: #4caf50;
  }
}

$primaryColorT1: rgb(45, 125, 210);
$secondaryColorT1: rgb(255, 186, 73);

:export {
  primaryColorT1: $primaryColorT1;
  secondaryColorT1: $secondaryColorT1;
}
