.auth-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  .side-banner {
    height: 100vh;
    background-color: lightgray;
  }

  .box-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}